# IST256 Project Deliverable 3 (P3)

## Phase 3: Data Story / Coding for Explanation

In this step, you submit the final version of your working code. You should be implementing the data story that you discussed in P2 (2.3.1). 

All code necessary to make the project run should be included in this notebook. This include all imports, functions, setup code and your interact. There should be no code that causes errors or exploratory code here.

The expectation is that your instructor can open this notebook, run all cells, and then use your program.

The code you write should be clear, easy to understand and use the affordances learned in the course.

No changes to your code will be considered after this submission. It is important to take prior instructor feedback taken into consideration and these factor into your evaluation.

### Step 1: Summarize Enhancements and Changes

If there were any enhancement or changes to your P3 from your P2 (including those you suggested), please explain them here. For example you might have geocoded your dataset or extracted entities from the text.

- The changes I made from P3 to P2 is that I didn't want to focus on overtime anymore because I felt it wasn't exactly necessary considering the fact that I provided more information.
- I took your advice and added a currency api from the internet so that it would be more accessible to users around the world. 
- Instead of the max, average and minimum pay for each job, I made it more specific where I found the average pay for the borough with the highest pay. So instead of general statements of the pay, the user can see the pay increase based on their preferred borough.
- In addition, I wanted to include the value counts and provide a percentage of the people with entry level, midlevel, and senior level of experince, but I encountered too many errors in my code. So I just included the average pay for entry, midlevel, and senior level workers instead.

### Step 2: Project Code

Include all project code below. This includes code that enhances the original dataset. Make sure to execute your code to ensure it runs properly before you turn it in. 

Add as many cells as you need here.

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
from IPython.display import display, HTML, Image
from ipywidgets import interact_manual
import folium


df = pd.read_csv("https://data.cityofnewyork.us/resource/k397-673e.csv?$query=SELECT%0A%20%20%60fiscal_year%60%2C%0A%20%20%60payroll_number%60%2C%0A%20%20%60agency_name%60%2C%0A%20%20%60last_name%60%2C%0A%20%20%60first_name%60%2C%0A%20%20%60mid_init%60%2C%0A%20%20%60agency_start_date%60%2C%0A%20%20%60work_location_borough%60%2C%0A%20%20%60title_description%60%2C%0A%20%20%60leave_status_as_of_june_30%60%2C%0A%20%20%60base_salary%60%2C%0A%20%20%60pay_basis%60%2C%0A%20%20%60regular_hours%60%2C%0A%20%20%60regular_gross_paid%60%2C%0A%20%20%60ot_hours%60%2C%0A%20%20%60total_ot_paid%60%2C%0A%20%20%60total_other_pay%60%0AWHERE%0A%20%20caseless_one_of(%0A%20%20%20%20%60title_description%60%2C%0A%20%20%20%20%22BUSINESS%20DATA%20AND%20REPORTING%20ANALYST%22%2C%0A%20%20%20%20%22BUSINESS%20RESEARCH%20%26%20DATA%20ANALYTICS%20SPECIALIST%22%2C%0A%20%20%20%20%22CERTIFIED%20DATABASE%20ADMINISTRATOR%22%2C%0A%20%20%20%20%22*SYSTEMS%20ANALYST%22%2C%0A%20%20%20%20%22IT%20SECURITY%20SPECIALIST%22%2C%0A%20%20%20%20%22IT%20INFRASTRUCTURE%20ENGINEER%22%2C%0A%20%20%20%20%22IT%20PROJECT%20SPECIALIST%22%2C%0A%20%20%20%20%22IT%20SERVICE%20MANAGEMENT%20SPECIALIST%22%2C%0A%20%20%20%20%22IT%20SENIOR%20ASSOCIATE%22%2C%0A%20%20%20%20%22IT%20ASSOCIATE%22%2C%0A%20%20%20%20%22IT%20PROJECT%20SPECIALIsT%22%2C%0A%20%20%20%20%22PROJECT%20MANAGER%22%2C%0A%20%20%20%20%22CHIEF%20INFORMATION%20TECHNOLOGY%20OFFICER%22%2C%0A%20%20%20%20%22DIRECTOR%20MANAGEMENT%20INFORMATION%20SYSTEMS%22%2C%0A%20%20%20%20%22CHIEF%20OF%20INFORMATION%20TECHNOLOGY%22%2C%0A%20%20%20%20%22SCHOOL%20COMPUTER%20TECHNOLOGY%20SPECIALIST%22%0A%20%20)")
        
display(df)

,fiscal_year,payroll_number,agency_name,last_name,first_name,mid_init,agency_start_date,work_location_borough,title_description,leave_status_as_of_june_30,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay
0,2020,462.0,GUTTMAN COMMUNITY COLLEGE,ZHU,BAO LIN,NaN,2019-11-18T00:00:00.000,MANHATTAN,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,24.08,per Hour,422.0,10094.80,0.00,0.00,0.00
1,2020,463.0,COMMUNITY COLLEGE (BRONX),FERNANDEZ,YOHANNY,C,2008-03-17T00:00:00.000,BRONX,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,58815.00,per Annum,1820.0,62119.63,0.00,4.54,0.00
2,2020,463.0,COMMUNITY COLLEGE (BRONX),FERNANDEZ,ARELIS,M,2014-09-22T00:00:00.000,BRONX,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,55608.00,per Annum,1820.0,58968.42,0.00,0.00,3.21
3,2020,463.0,COMMUNITY COLLEGE (BRONX),HENRY,SHAWN,NaN,2015-06-08T00:00:00.000,QUEENS,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,55608.00,per Annum,1820.0,58968.42,0.00,0.00,0.00
4,2020,463.0,COMMUNITY COLLEGE (BRONX),TYNER,DEBBIE,T,2013-12-02T00:00:00.000,QUEENS,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,55608.00,per Annum,1820.0,58968.42,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020,56.0,POLICE DEPARTMENT,CADET,STEPHEN,C,2016-07-18T00:00:00.000,MANHATTAN,IT PROJECT SPECIALIST,ACTIVE,119709.00,per Annum,1820.0,117870.85,150.00,10627.50,112.45
996,2020,56.0,POLICE DEPARTMENT,CAVANAGH,DANIEL,NaN,2015-06-01T00:00:00.000,MANHATTAN,IT PROJECT SPECIALIST,ACTIVE,92221.00,per Annum,1820.0,90805.11,115.75,6575.55,349.25
997,2020,56.0,POLICE DEPARTMENT,PEREZ,CHRISTOPHER,D,2013-06-05T00:00:00.000,MANHATTAN,IT PROJECT SPECIALIST,ACTIVE,75000.00,per Annum,1820.0,63897.86,8.00,298.63,5155.56
998,2020,56.0,POLICE DEPARTMENT,MENDIETA,MARIO,A,2015-05-26T00:00:00.000,MANHATTAN,IT PROJECT SPECIALIST,CEASED,80336.00,per Annum,735.0,34500.09,56.00,3209.28,95.23
999,2020,57.0,FIRE DEPARTMENT,EVANS,DEIRDRE,M,1992-05-11T00:00:00.000,BROOKLYN,IT PROJECT SPECIALIST,ACTIVE,124935.00,per Annum,1820.0,123036.56,221.50,20094.23,1556.08

In [20]:
def experience_avg(job):
    filtered_df = df[df['title_description'] == job].copy()
    filtered_df['agency_start_year'] = filtered_df['agency_start_date'].str[:4]
    filtered_df['total_years'] = filtered_df['fiscal_year'].astype(int) - filtered_df['agency_start_year'].astype(int)
    filtered_df['experience'] = filtered_df['total_years']  
    
    entry = filtered_df['experience'] <= 5
    midlevel = (5 < filtered_df['experience']) & (filtered_df['experience'] <= 9)
    senior = filtered_df['experience'] > 9
    
    filtered_df['experience'] = filtered_df['experience'].astype(str)
    
    filtered_df.loc[entry, "experience"] = "Entry"
    filtered_df.loc[midlevel, "experience"] = "Midlevel"
    filtered_df.loc[senior, "experience"] = "Senior"

    entry_avg = filtered_df[filtered_df['experience'] == 'Entry']['regular_gross_paid'].mean()
    midlevel_avg = filtered_df[filtered_df['experience'] == 'Midlevel']['regular_gross_paid'].mean()
    senior_avg = filtered_df[filtered_df['experience'] == 'Senior']['regular_gross_paid'].mean()    
        
    return entry_avg, midlevel_avg, senior_avg

experience_avg('IT INFRASTRUCTURE ENGINEER')

(89418.39400000001, 104628.20545454543, 128128.48583333334)

In [21]:
lat = []
lon = []
for borough in df['work_location_borough']:
    if borough == 'MANHATTAN':
        lat.append(40.7831)
        lon.append(-73.9712)
    elif borough == 'BROOKLYN':
        lat.append(40.6782)
        lon.append(-73.9442)
    elif borough == 'BRONX':
        lat.append(40.8448)
        lon.append(-73.8648)
    elif borough == 'QUEENS':
        lat.append(40.7282)
        lon.append(-73.7949)
    else:
        lat.append(None)
        lon.append(None)
df['lat'] = lat
df['lon'] = lon

df

,fiscal_year,payroll_number,agency_name,last_name,first_name,mid_init,agency_start_date,work_location_borough,title_description,leave_status_as_of_june_30,base_salary,pay_basis,regular_hours,regular_gross_paid,ot_hours,total_ot_paid,total_other_pay,lat,lon
0,2020,462.0,GUTTMAN COMMUNITY COLLEGE,ZHU,BAO LIN,NaN,2019-11-18T00:00:00.000,MANHATTAN,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,24.08,per Hour,422.0,10094.80,0.00,0.00,0.00,40.7831,-73.9712
1,2020,463.0,COMMUNITY COLLEGE (BRONX),FERNANDEZ,YOHANNY,C,2008-03-17T00:00:00.000,BRONX,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,58815.00,per Annum,1820.0,62119.63,0.00,4.54,0.00,40.8448,-73.8648
2,2020,463.0,COMMUNITY COLLEGE (BRONX),FERNANDEZ,ARELIS,M,2014-09-22T00:00:00.000,BRONX,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,55608.00,per Annum,1820.0,58968.42,0.00,0.00,3.21,40.8448,-73.8648
3,2020,463.0,COMMUNITY COLLEGE (BRONX),HENRY,SHAWN,NaN,2015-06-08T00:00:00.000,QUEENS,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,55608.00,per Annum,1820.0,58968.42,0.00,0.00,0.00,40.7282,-73.7949
4,2020,463.0,COMMUNITY COLLEGE (BRONX),TYNER,DEBBIE,T,2013-12-02T00:00:00.000,QUEENS,BUSINESS DATA AND REPORTING ANALYST,ACTIVE,55608.00,per Annum,1820.0,58968.42,0.00,0.00,0.00,40.7282,-73.7949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2020,56.0,POLICE DEPARTMENT,CADET,STEPHEN,C,2016-07-18T00:00:00.000,MANHATTAN,IT PROJECT SPECIALIST,ACTIVE,119709.00,per Annum,1820.0,117870.85,150.00,10627.50,112.45,40.7831,-73.9712
996,2020,56.0,POLICE DEPARTMENT,CAVANAGH,DANIEL,NaN,2015-06-01T00:00:00.000,MANHATTAN,IT PROJECT SPECIALIST,ACTIVE,92221.00,per Annum,1820.0,90805.11,115.75,6575.55,349.25,40.7831,-73.9712
997,2020,56.0,POLICE DEPARTMENT,PEREZ,CHRISTOPHER,D,2013-06-05T00:00:00.000,MANHATTAN,IT PROJECT SPECIALIST,ACTIVE,75000.00,per Annum,1820.0,63897.86,8.00,298.63,5155.56,40.7831,-73.9712
998,2020,56.0,POLICE DEPARTMENT,MENDIETA,MARIO,A,2015-05-26T00:00:00.000,MANHATTAN,IT PROJECT SPECIALIST,CEASED,80336.00,per Annum,735.0,34500.09,56.00,3209.28,95.23,40.7831,-73.9712
999,2020,57.0,FIRE DEPARTMENT,EVANS,DEIRDRE,M,1992-05-11T00:00:00.000,BROOKLYN,IT PROJECT SPECIALIST,ACTIVE,124935.00,per Annum,1820.0,123036.56,221.50,20094.23,1556.08,40.6782,-73.9442

In [22]:
apikey = 'fca_live_2aV9QQzkSxecs8YJjI4wkZKNWemXLTPhQ1RFG5Ae'
def get_exchange_rates(currency, pay, apikey):
    url = "https://api.freecurrencyapi.com/v1/latest"
    querystring = {"apikey": apikey}
    headers = {"X-API-KEY": apikey}
    
    try:
        response = requests.get(url, params=querystring, headers=headers)
        response.raise_for_status()
        data = response.json()
        
        exchange_rate = data['data'].get(currency)
        
        if exchange_rate is not None:
            final_exchange = pay * exchange_rate
            return final_exchange
        
    except Exception as e:
        print(f"Error fetching exchange rates: {e}")
        return None
get_exchange_rates('AUD',100000,'fca_live_2aV9QQzkSxecs8YJjI4wkZKNWemXLTPhQ1RFG5Ae')

151716.02208

In [23]:
job = sorted(list(df['title_description'].unique())) 
currencies = ['*Original*','AUD', 'BGN', 'BRL', 'CAD', 'CHF', 'CNY', 'CZK', 'DKK', 'EUR', 'GBP', 'HKD', 'HRK', 'HUF', 'IDR', 'ILS', 'INR', 'ISK', 'JPY', 'KRW', 'MXN', 'MYR', 'NOK', 'NZD', 'PHP', 'PLN', 'RON', 'RUB', 'SEK', 'SGD', 'THB', 'TRY', 'USD', 'ZAR']

display(HTML("<h1>NYC's Best Tech Careers</h1>"))
display(HTML("Let us help you get the best pay, location, and potential earnings for your tech career in NYC!"))
display(HTML("Select the job and the currency you want to convert potential earnings to and we will do the rest!"))

@interact_manual(jobs=job, currency=currencies)   
def onclick(jobs, currency):
    if jobs:
        filtered_df = df[df['title_description'] == jobs]
        pay = filtered_df['regular_gross_paid'].mean()
        max_pay_borough = filtered_df.groupby('work_location_borough')['regular_gross_paid'].mean().idxmax()
        avg_pay_max_borough = filtered_df[filtered_df['work_location_borough'] == max_pay_borough]['regular_gross_paid'].mean()

        entry_avg, midlevel_avg, senior_avg = experience_avg(jobs)
        exchange_rate = get_exchange_rates(currency, pay, apikey)
        
        if exchange_rate is not None:
            converted_pay = exchange_rate
        else:
            print("")
            converted_pay = pay
        
        m = folium.Map(location=[40.7128, -74.0060], zoom_start=10)
        
        filtered_data = filtered_df[filtered_df['work_location_borough'] == max_pay_borough]
        for index, row in filtered_data.iterrows():
            folium.Marker(location=[row['lat'], row['lon']], popup=f"{row['work_location_borough']} is the highest paid borough for the {jobs} job", icon=folium.Icon(color='green', icon="briefcase")).add_to(m)
        
        display(HTML("<h1>Pay Analysis</h1>"))
        display(HTML(f"<li>The average regular gross pay for {jobs} is ${pay:.2f}."))
        display(HTML(f"<li>The average regular gross pay converted to {currency} currency is ${converted_pay:.2f}."))
        display(HTML(f"<li>The best borough to work in for this career is {max_pay_borough}."))
        display(HTML(f"<li>The average regular gross pay in the best borough is ${avg_pay_max_borough:.2f}."))
        display(HTML(f"<h3>Average pay for a {jobs} after: </h3>"))
        display(HTML(f"<li> Less than 5 years of experience: ${entry_avg:.2f}. "))
        display(HTML(f"<li> 5 to 9 years of experience: ${midlevel_avg:.2f}. "))
        display(HTML(f"<li> More than 9 years of experience: ${senior_avg:.2f}."))
        if senior_avg >= 100000:
            display(HTML(f"<h1>This career has great earning potential!"))
        display(sns.barplot(data=filtered_df, x='title_description',y='regular_gross_paid', hue='work_location_borough', errorbar=None))
        display(HTML(f"<h3>Borough with the highest earnings on average </h3>"))
        display(m)
        display(HTML(f"<h3>Comparison of boroughs earnings: </h3>"))
    else:
        pay = df['regular_gross_paid'].mean()
        print(f"The overall average regular gross paid is {pay}")

interactive(children=(Dropdown(description='jobs', options=('BUSINESS DATA AND REPORTING ANALYST', 'BUSINESS R…

### Prepare for your Pitch and Reflection (P4)

With the project code complete, its time to prepare for the final deliverable - submitting your project demo Pitch and reflection.

In [ ]:
# run this code to turn in your work!
from casstools.assignment import Assignment
Assignment().submit()

✅ TIMESTAMP  : 2024-05-07 23:36
✅ COURSE     : ist256
✅ TERM       : spring2024
✅ USER       : ccfloren@syr.edu
✅ STUDENT    : True
✅ PATH       : ist256/spring2024/lessons/project/P3.ipynb
✅ ASSIGNMENT : P3.ipynb
✅ POINTS     : 0
✅ DUE DATE   : 2024-05-07 23:59
✅ LATE       : False
✅ STATUS     : New Submission

❓ Submit? [y/n] ❓  y